@{
    ViewData["Title"] = "Recycling Introduction";
}

<div id="recycling-intro">
    <span class="calculator-intro-subheading">Welcome</span>
    <h2 class="calculator-form-heading">Calculate your household's carbon footprint</h2>
    <p>Enter data about your energy usage to determine your carbon footprint</p>
    <div class="calculator-intro-action">
        <img src="/images/recycling-identifier.jpg" alt=""/>
        <button type="button" class="btn btn-primary" id="recycling-intro-button">Get started</button>
    </div>
</div>
