@{
    ViewData["Title"] = "Recycling Dictionary";
}

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Recycling Data Dictionary</p> </div>
    </div>
</div>

<div class="upload-header-container">
    <h2 class="upload-header-heading">
        Recycling Data Dictionary
    </h2>
    <p>
        Check how to recycle your waste based on their category.
    </p>
</div>
<div class="module-two-panel-selector-container">
    <div class="module-two-panel-selector">
        <div class="mobile-return-label Tagline">
            <div class="arrowhead left"></div>
            <span>
                Back
            </span>
        </div>
        <div class="two-panel-selector">
            <ul class="left-panel-container">
                <div class="left-panel-heading _1">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _1">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Metal
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="left-panel-heading _2">
                    <div class="left-panel">
                        <li class="left-panel-heading-inner _2">
                            <div class="left-panel-title Intro">
                                <span class="panel-title">
                                    Glass
                                </span>
                            </div>
                            <div class="arrowhead-container">
                                <div class="arrowhead right"></div>
                            </div>
                        </li>
                    </div>
                </div>
            </ul>
            <div class="right-panel-container">
                <div class="right-panel _1">
                    <h4 class="right-panel-heading">
                        Metal
                    </h4>
                    <div class="right-panel-description">
                        Do not put in recycling or trash. Find special drop-off locations
                    </div>
                </div>
                <div class="right-panel _2">
                    <h4 class="right-panel-heading">
                        Glass
                    </h4>
                    <div class="right-panel-description">
                        Do not put in trash.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
