@{
    ViewData["Title"] = "GovernmentalSupport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Title and subtitle -->
<div class="website-text" style="margin:auto; text-align:center;">
    <h1>Governmental Support</h1>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px">
        From research to large-scale deployment, our funding spans the entire innovation chain. 
        We accelerate the affordability of new technologies and build investor confidence in 
        renewable energy projects now and into the future.
    </h4>
    <br />
    <br />
    <h2>Current Funding Opportunities</h2>
    <br />
</div>

<div class="container">

    <div class="row">
        <!-- First Card -->
        <div class="col-md-3 govSupport-card">
            <div class="website-text" style="text-align:center">
                <h3>
                    <a href="https://arena.gov.au/funding/national-industrial-transformation-program/">National Industrial Transformation Program</a>
                    </h3>
            </div>
        </div>

        <!-- Second Card -->
        <div class="col-md-3 govSupport-card">
            <div class="website-text" style="text-align:center">
                <h3>
                    <a href="https://arena.gov.au/funding/powering-the-regions-industrial-transformation-stream/">Powering the Regions Industrial Transformation Stream</a>
                </h3>
            </div>
        </div>

        <!-- Third Card -->
        <div class="col-md-3 govSupport-card">
            <div class="website-text" style="text-align:center">
                <h3>
                    <a href="https://arena.gov.au/funding/advancing-renewables-program/">Advancing Renewables Program (ARP)</a>
                </h3>
            </div>
        </div>

    </div>

    <br />

    <!-- Button to Questionnaire Form -->
    <div style="text-align: center;">
        <a class="btn btn-outline-dark" href="/Questionnaire/Index"
           style="width: 100%; text-align: center; box-sizing: border-box; padding: 1%; max-width:90%; justify-content:center">
            Self-assessment on the Government's Grants Questionnaire »
        </a>
    </div>

</div>