@{
    ViewBag.Title = "Interactive House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>Energy Efficient Home Tour</p> </div>
    </div>
</div>

<div class="container">
    <div class="questionnaire-result-container">
        <div id="help-container">
            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>How do I navigate in the model?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            <li> Left click within the model and drag to navigate around.
                            <li>Click on Energy Saving Components to get more information.
                            <li>Use 2 fingers to pinch inwards/outwards to zoom in/out.
                            <li>When lost, press Internal View or the External View Button
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content: space-between">
            <div class="col-12 mobile-message">
                Current View Size not supported. Please use a desktop view to show model.
            </div>
            <div class="col-md-9" style="align-content: center">
                <div class="model-container">
                    <div id="loadingScreen">
                        <button id="enterTourButton">Enter Tour</button>
                    </div>
                    <div id="modelLoadingScreen">Loading the model, please wait...</div>
                    <canvas id="renderCanvas" touch-action="none" style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>
            <div class="col-md-3" style="align-content: center">
                <div id="detailsContainer" style="overflow-y: auto; max-height: 600px; width: 100%">
                    <h3 id="infoTitle" style="color: #00826a">Get Started</h3>
                    <img id="infoImage" src="" alt="Node Image" style="width: 100%; display: none;">
                    <p id="infoDescription">Left click within the model and drag to navigate around. Click on Energy Saving Components to get more information. Use 2 fingers to pinch inwards/outwards to zoom in/out. When lost, press Reset Camera.</p>
                </div>
            </div>
        </div>

        <div id="help-container">
            <!-- Help/Troubleshoot Dropdown -->
            <h2 class="questionnaire-heading"><strong>Troubleshoot</strong></h2>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Why am I am stuck at the loading screen?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            Refresh the model by clicking on the Interactive House Tab in the navigation bar again.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Why can I only see white and blue?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            Refresh the model by clicking on the Interactive House Tab in the navigation bar again.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-container">
                <div class="questionnaire-accordion-head">
                    <div class="questionnaire-accordion-head-content">
                        <div class="questionnaire-accordion-head-text">
                            <h4>Its not working properly?</h4>
                        </div>
                        <div class="questionnaire-accordion-head-icon accordion-rotate"></div>
                    </div>
                </div>
                <div class="questionnaire-accordion-tail accordion-close">
                    <div class="questionnaire-accordion-tail-content">
                        <p class="questionnaire-accordion-head-text-description">
                            <li> Make sure you are using a laptop or a computer.
                            <li> Refresh the model by clicking on the Interactive House Tab in the navigation bar again.
                            <li> It may load for a long time, when you are first opening this model.
                            <li> Clear your browser cache and reload the model again.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="action-container">
    <br />
    <h2 style="color: #4a6f70"><strong>Want to know more about Governmental Support?</strong></h2>
    <br />
    <h4 style="margin:auto; text-align:center; max-width: 800px; font-size: 24px;">
        Numerous government initiatives provide substantial incentives and financial support for residents to adopt energy-efficient home systems.
    </h4>
    <br />
    <br />
    <div style="display:flex; flex-direction:column; align-items:center;">
        <a class="action-button btn btn-primary" href="/GovernmentSupport" draggable="false">
            Start your saving now »
        </a>
    </div>
    <br />
</div>

<script src="~/js/modelViewer.js"></script>
