@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="website-text">
    <h1>H1 We’re thinking globally, acting locally</h1>
    <h2>H2 We’re thinking globally, acting locally</h2>
    <h3>H3 We’re thinking globally, acting locally</h3>
    <h4>H4 (subtitle) We’re thinking globally, acting locally</h4>
    <p class="caption">caption: We’re thinking globally, acting locally</p>
    <ul>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
    </ul>

    <ol>
        <li>First point</li>
        <li>Second point</li>
        <li>Third point</li>
    </ol>

    <a href="https://www.example.com/about">Link type text</a>
</div>
