@{
    ViewBag.Title = "Interactive House";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <!-- Title -->

    <div class="row" style="justify-content:space-between">
        <div class="col-md-9" style="align-content: center">
            <canvas id="renderCanvas" touch-action="none" style="width: 100%; height: 100vh;"></canvas>
        </div>

        <div class="col-md-3" style="align-content: center">
            <div id="detailsContainer" style="overflow-y: auto; max-height: 100vh; width: 100%">
                <h3 id="infoTitle"> Get Started </h3>
                <img id="infoImage" src="" alt="Node Image" style="width: 100%; display: none;">
                <p id="infoDescription"> Left CLick within the model and drag to navigate around. Click on Energy Saving Components to get more information. Use 2 fingers to pinch inwards/outwards to zoom in/out. When lost, press Reset Camera.</p>
            </div>
        </div>
    </div>
</div>

<script src="~/js/modelViewer.js"></script>
