@{
    ViewData["Title"] = "Questionnaire";
}

<form class="questionnaire-form" asp-action="Results">
    <div class="form-group">
        <div class="form-item-title">What utility bill do you usually pay?</div>
        <div class="form-item-desc">Choose all that apply</div>
        <div class="form-item-body">
            <input class="form-input" type="checkbox" name="utilityBill" id="electricityBill" value="Electricity bill">
            <label class="form-input-label" for="electricityBill"></label>
            <label>Electricity bill</label><br/>
            <input class="form-input" type="checkbox" name="utilityBill" id="waterBill" value="Water bill">
            <label class="form-input-label" for="waterBill"></label>
            <label>Water bill</label><br/>
            <input class="form-input" type="checkbox" name="utilityBill" id="gasBill" value="Gas bill">
            <label class="form-input-label" for="gasBill"></label>
            <label>Gas bill</label><br/>
            <input class="form-input" type="checkbox" name="utilityBill" id="noneOfTheAbove" value="None of the above">
            <label class="form-input-label" for="noneOfTheAbove"></label>
            <label>None of the above</label>
        </div>
    </div>
    <div class="form-group">
        <br/><div class="form-item-title">Do you own the property where you reside?</div>
        <div class="form-item-body">
            <input class="form-input" type="radio" id="propertyYes" name="propertyOwnership" value="yes">
            <label class="form-input-label" for="propertyYes"></label>
            <label>Yes</label><br/>
            <input class="form-input" type="radio" id="propertyNo" name="propertyOwnership" value="no">
            <label class="form-input-label" for="propertyNo"></label>
            <label>No</label>
        </div>
    </div>
    <div class="form-group">
        <br/><div class="form-item-title">What is your combined household taxable income per year?</div>
        <div class="form-item-body">
            <input class="form-input" type="radio" id="lessThan" name="householdIncome" value="no">
            <label class="form-input-label" for="lessThan"></label>
            <label>Less than $180,000</label><br/>
            <input class="form-input" type="radio" id="moreThan" name="householdIncome" value="yes">
            <label class="form-input-label" for="moreThan"></label>
            <label>$180,000 or more</label>
        </div>
    </div>
    <div class="form-group">
        <br/><div class="form-item-title">Do you have one of the following concession cards?</div>
        <div class="form-item-desc">Choose all that apply</div>
        <div class="form-item-body">
            <input class="form-input" type="checkbox" id="pensionerCard" name="concessionCards" value="Pensioner Concession Card">
            <label class="form-input-label" for="pensionerCard"></label>
            <label>Pensioner Concession Card</label><br/>
            <input class="form-input" type="checkbox" id="healthCareCard" name="concessionCards" value="Centrelink Health Care Card">
            <label class="form-input-label" for="healthCareCard"></label>
            <label>Health Care Card</label><br/>
            <input class="form-input" type="checkbox" id="veteransCard" name="concessionCards" value="Any federal or state Veterans card (includes Gold or White card)">
            <label class="form-input-label" for="veteransCard"></label>
            <label>Veterans' Affairs Card</label><br/>
            <input class="form-input" type="checkbox" id="noneOfTheAboveConcession" name="concessionCards" value="None of the above">
            <label class="form-input-label" for="noneOfTheAboveConcession"></label>
            <label>None of the above</label><br/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
