@{
    ViewData["Title"] = "Climate Action Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-start mx-auto mb-md-5 mb-4" style="max-width:500px;">
    <h1 style="color: cadetblue;"> Climate Action </h1>
</div>

<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xznlCuhqfOI?si=HzE4YoUd8w9Kknr5" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

