
<div style="display: none;">
    <h2>Your impact in detail</h2>
    <hr/>
    <div>
        <div>
            <div>
                <h4>Breakdown</h4>
                <h4>tCO2e</h4>
            </div>
            <div>
                <span>Energy</span>
                <span>0</span>
            </div>
            <div>
                <div>
                    <div>
                        <span>Electricity</span>
                        <span>0</span>
                    </div>
                    <span>0 kWh</span>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <span>Natural Gas</span>
                        <span>0</span>
                    </div>
                    <span>0 MJ</span>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <span>LPG</span>
                        <span>0</span>
                    </div>
                    <span>0 kg</span>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <span>Firewood</span>
                        <span>0</span>
                    </div>
                    <span>0 kg</span>
                </div>
            </div>
        </div>
        <div>
            <h4>Key Insights</h4>
            <div>
                <p>Your household used 0 kWh of electricity</p>
                <p>
                    There are lots of small behaviour changes you can make 
                    to reduce your household's electricity consumption 
                    like turning the lights off when you leave a room, 
                    using a standby power board, using the 'eco' setting 
                    on your dishwasher and washing machine, and setting 
                    your air conditioner between 24 and 27 degrees. If 
                    you own your own home, consider installing solar 
                    panels - this can lower your carbon footprint AND 
                    save money in the long term!
                </p>
            </div>
            <div>
                <p>Your household used 0 MJ of natural gas</p>
                <p>
                    There are lots of small behaviour changes you can make 
                    to reduce your household's natural gas consumption. In 
                    the kitchen, try using a smaller pan if possible, and put 
                    a lid on so the food cooks faster. If you have a gas hot 
                    water system, conserve hot water by taking shorter showers 
                    and installing low-flow shower heads. Set your water 
                    heater to a maximum of 50 degrees Celsius.
                </p>
            </div>
            <div>
                <p>Your household used 0 kg of LPG</p>
                <p>
                    There are lots of small behaviour changes you can make to 
                    reduce your household's LPG consumption. If your hot water 
                    system runs on LPG, conserve hot water by taking shorter 
                    showers and installing low-flow shower heads. Set your 
                    water heater to a maximum of 50 degrees Celsius. When 
                    using LPG for outdoor cooking, make sure you switch the 
                    gas off at the bottle (not just the BBQ) after every use.
                </p>
            </div>
            <div>
                <p>Your household used 0 kg of firewood</p>
                <p>
                    To reduce your heating needs, open your curtains during 
                    the day to naturally warm your home. Ensure your roof is 
                    well-insulated and that there are no cold draughts entering 
                    through the doors or flooring. Layer up with clothes, 
                    then decide if you still need to light the fire!
                </p>
            </div>
        </div>
    </div>
</div>
