@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="banner" style="height: 150px; margin-bottom: 5%;">
        <div class="banner-content"> <p>References</p> </div>
    </div>
</div>

<div class="container">
    <div id="image-reference">
        <h2 style="color: #00826a">Image References</h2>
        <ul>
            <li> Reference 1</li>
            <li> Reference 2</li>
            <li> Reference 2</li>
        </ul>
    </div>

    <br/>

    <div id="models-reference">
        <h2 style="color: #00826a">3d Models References</h2>
        <ul>
            <li> Reference 1</li>
            <li> Reference 2</li>
            <li> Reference 2</li>
        </ul>
    </div>
</div>